<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gandazhi.sell.dao.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.gandazhi.sell.pojo.ProductInfo">
    <constructor>
      <idArg column="product_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="product_stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_status" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="category_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <resultMap id="SellerProductInfoVo" type="com.gandazhi.sell.vo.SellerProductInfoVo">
    <constructor>
      <idArg column="product_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="product_stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="product_description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="product_status" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="category_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="category_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, product_price, product_stock, product_description, product_icon, 
    product_status, category_type, create_time, update_time
  </sql>
  <sql id="SellerProductInfo_List">
    i.product_id, i.product_name, i.product_icon, i.product_price, i.product_stock, i.product_description,
    i.product_status, i.category_type, i.create_time, i.update_time, c.category_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_info
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product_info
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gandazhi.sell.pojo.ProductInfo">
    insert into product_info (product_id, product_name, product_price, 
      product_stock, product_description, product_icon, 
      product_status, category_type, create_time, 
      update_time)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productStock,jdbcType=INTEGER}, #{productDescription,jdbcType=VARCHAR}, #{productIcon,jdbcType=VARCHAR}, 
      #{productStatus,jdbcType=TINYINT}, #{categoryType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gandazhi.sell.pojo.ProductInfo">
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productStock != null">
        product_stock,
      </if>
      <if test="productDescription != null">
        product_description,
      </if>
      <if test="productIcon != null">
        product_icon,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productStock != null">
        #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productDescription != null">
        #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gandazhi.sell.pojo.ProductInfo">
    update product_info
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productStock != null">
        product_stock = #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productDescription != null">
        product_description = #{productDescription,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        product_icon = #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=TINYINT},
      </if>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gandazhi.sell.pojo.ProductInfo">
    update product_info
    set product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_stock = #{productStock,jdbcType=INTEGER},
      product_description = #{productDescription,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=TINYINT},
      category_type = #{categoryType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>

  <select id="selectUpAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM product_info
    WHERE product_status = 0
  </select>

  <select id="selectCountByProductId" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM product_info
    WHERE product_id = #{productId}
  </select>

  <select id="selectLeftJoinCategoryAll" resultMap="SellerProductInfoVo">
    SELECT <include refid="SellerProductInfo_List"/>
    FROM product_info AS i
    LEFT JOIN product_category AS c
    ON i.category_type = c.category_type
  </select>

  <select id="selectLeftJoinCategoryByProductId" resultMap="SellerProductInfoVo" parameterType="string">
    SELECT <include refid="SellerProductInfo_List"/>
    FROM product_info AS i
    LEFT JOIN product_category AS c
    ON i.category_type = c.category_type
    WHERE product_id = #{productId}
  </select>
</mapper>